@font-face {
    font-family: 'AmericanTypeWriter';
    src:  url('../../media/AmericanTypewriterRegular.ttf')  format('truetype') /* Safari, Android, iOS */
      
  }
.container{
    height: 100%;
    position: relative;
    z-index: 10;
}
img{
    position: relative;
    z-index: 13;
}
.city{
    position: absolute;
    bottom: 2rem;
    right: 1rem;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'AmericanTypewriter';
    z-index: 15;
}
.greybox{
    position: absolute;
    height: 80%;
    bottom: -.5rem;
    left: -.5rem;
    width: 90%;
    background: rgb(205, 199, 189);
    z-index: 10;
}
.cityName{
    font-size: 2rem;
}
.activity{
    font-size: 1.8rem;
   
}